# Development Environment Example
# API Configuration where backend (ybb-platform) is hosted
NEXT_PUBLIC_API_URL=http://localhost:4000/v1

# S3 Storage Configuration
NEXT_PUBLIC_S3_URL=http://localhost:9000

# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3010
